<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Carsup Automotive - Your One-Stop Solution for all you car needs, from car sales, servicing, detailing, and bodywork">
    <meta name="keywords" content="Carsup Automotive, car sales, car servicing, car detailing, bodywork">
    <meta name="author" content="Carsup Automotive">
    <meta name="robots" content="index, follow">

    <!-- Open Graph meta tags for better social media sharing -->
    <meta property="og:title" content="Carsup Automotive - Your One-Stop Solution for all you car needs, from car sales, servicing, detailing, and bodywork">
    <meta property="og:description" content="Explore a wide range of services at Carsup Automotive, including car sales, servicing, detailing, and bodywork.">
    <meta property="og:image" content="url-to-thumbnail-image">
    <meta property="og:url" content="url-to-your-website">
    <meta property="og:type" content="website">

    <!-- Twitter Card meta tags for Twitter sharing -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Carsup Automotive - Your One-Stop Solution for all you car needs, from car sales, servicing, detailing, and bodywork">
    <meta name="twitter:description" content="Explore a wide range of services at Carsup Automotive, including car sales, servicing, detailing, and bodywork.">
    <meta name="twitter:image" content="url-to-thumbnail-image">

    <title>Carsup Automotive - <%= headerTitle %></title>
    <!-- Favicon (replace 'favicon.ico' with the path to your favicon) -->
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/<%- pageType %>.css">
</head>