<header class="header">
    <div class="navbar-desktop">
        <div class="container">
            <div class="nav-brand-desktop">
                <a href="#" class="nav-brand-img">Brand Name</a>
                <div class="nav-brand-desktop-info">
                    <div>
                        <p>Sales: 905-730-0440</p>
                        <p>1364 Plains Rd E, Burlington, Ontario</p>
                    </div>
                    <a class="button-type-a" href="">Service Appointment</a>
                </div>
            </div>
        </div>
        <nav class="nav-desktop">
            <div class="container">
                <div class="navbar-desktop-links">
                    <a class="navbar-desktop-link" href="#">Homepage</a>
                    <a class="navbar-desktop-link" href="#">Inventory</a>
                    <a class="navbar-desktop-link" href="#">Service & Parts</a>
                    <a class="navbar-desktop-link" href="#">Detailing</a>
                    <a class="navbar-desktop-link" href="#">Contact Us</a>
                </div>
            </div>
        </nav>
    </div>
    <nav class="navbar-mobile">
        <div class="container">
            <div class="nav-mobile-brand">
                <a href="#" class="nav-brand-img">Brand Name</a>
                <div class="navbar-mobile-menu-button">
                    <span class='navbar-mobile-menu-button-line'></span>
                    <span class='navbar-mobile-menu-button-line'></span>
                    <span class='navbar-mobile-menu-button-line'></span>
                </div>
            </div>  
            <div class="navbar-mobile-links">
                <a class="navbar-mobile-link" href="#">Homepage</a>
                <a class="navbar-mobile-link" href="#">Inventory</a>
                <a class="navbar-mobile-link" href="#">Service & Parts</a>
                <a class="navbar-mobile-link" href="#">Detailing</a>
                <a class="navbar-mobile-link" href="#">Contact Us</a>
            </div>
        </div>
    </nav>
</header>