<!DOCTYPE html>
<html lang="en">

<%- include('../templates/header-template-general.ejs'); %>

<body>
    <%- include('../templates/navbar-template-general-guest'); %>
    <main>
    </main>
    <script src="js/general.js"></script>
</body>

</html>