<!DOCTYPE html>
<html lang="en">

<%- include('../templates/header-template-general.ejs'); %>

<body>
    <%- include('../templates/navbar-template-general-guest'); %>
    <main>
    </main>

</body>

</html>