* {
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
}

@media (min-width: 768px) {
    .container {
        max-width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1170px;
    }
}

.grid-2 {
    display: grid;
    grid-template-columns: auto auto;
}

@media (max-width: 720px) {
    .grid-2 {
        grid-template-columns: auto;
    }
}
