:root {
    --main-color: #d6f1ff;
    --secondary-color: #13333e;
    --teritary-color: #063637;
    --button-color-primary: #13333e;
    --button-color-hover: #0e3e4d;
    --button-text-color: #d6f1ff;
}

* {
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
}

@media (min-width: 768px) {
    .container {
        max-width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1170px;
    }
}

.button-type-a {
    display: inline-block;
    padding: 15px;
    border-radius: 10px;
    background-color: var(--button-color-primary);
    color: var(--button-text-color);
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    transition: all 0.3s ease-in-out;
}

.button-type-a:hover {
    background-color: var(--button-color-hover);
}
