<!DOCTYPE html>
<html lang="en">

<%- include('../templates/header-template-staff.ejs'); %>

<body>
    <%- include('../templates/navbar-template-staff'); %>
    
    <main>
    </main>
    <script src="js/staff.js"></script>
</body>

</html>